h1::before {content:"\2606";
    size: 5em;
    padding-right:4px;
    color:rgb(17, 15, 15);}

image {display: flex;}

button{background-color:rgb(55, 83, 240);
color:white;
font-size: 4em;
height:fit-content;
padding:20px;
font-weight: bold;
}

button:hover{background-color: bisque;
color:black}

footer{font-size: 2em;
    justify-content: end;
    padding: 2em;}