html, body {font-family: Poppins}

//font details
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

//nav style details
nav {color: antiquewhite;
  word-spacing: 5px;}

//Make the h1 bigger
h1{size: 4em;}

//make the nav links show black
a{color:black}

//makes the whole section start with capital letters.
section{text-transform: capitalize;}

