html, body {font-family: Poppins}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav {color: antiquewhite;
  font-size: 1em;}
  
a{color:black}

.nav-heading {font-size: 4em;;
  text-align: center;}

section{text-transform: capitalize;}

footer{font-size: 2em;
text-align:center;}